---
# Only the main Sass file needs front matter (the dashes are enough)
---
// My customizations
$text-color:        #111 !default;
$background-color: #ffffff !default;
$brand-color:      #2441e3 !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1100px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

@import "minima";
